
$header-heigth: 80px;

$page-margin-lg: 600px;
$page-margin-md: 600px;
$page-margin-sm: 200px;
$page-margin-xs: 50px;

$margin-vertical-lg: 50px;
$margin-vertical-md: 50px;
$margin-vertical-sm: 30px;
$margin-vertical-xs: 20px;


$font-size: 1rem;
$font-size-section-title: 1.6rem;
$font-size-header-title: 1.6rem;
$font-size-page-title: 2.56rem;
