@use "@angular/material" as mat;

$color-primary-dark-from-palette: mat.$azure-palette[500];
$color-primary-dark: #2e490c; // azure palette 500
$color-primary: #8BC34A;
$color-primary-light: #daf1c0;;
$color-primary-text: #212121;

$color-background-dark: #333333FF;
$color-background-light: #e8f8d7;


