<div class="header">
  <div class="website-name"><p>Sketchbook</p></div>
  <nav class="website-navigation" mat-tab-nav-bar [tabPanel]="tabPanel">
    @for (navigationRoute of NAVIGATION; track navigationRoute) {
      <a mat-tab-link
         [routerLink]="'/' + navigationRoute.route"
         [active]="navigationRoute.isActive">
        <mat-icon class="navigation-icon"
          [svgIcon]="navigationRoute.icon">
        </mat-icon>
        {{ navigationRoute.label }}
      </a>
    }
  </nav>
  <div class="placeholder-right"></div>
</div>
<div class="website-body">
  <mat-tab-nav-panel #tabPanel>
    <router-outlet/>
  </mat-tab-nav-panel>
</div>


