@use "@angular/material" as mat;
@use "colors" as *;
@use "responsive-layout" as *;

@include mat.core();

$website-theme: mat.define-theme(
    (
      color: (
        theme-type: light,
        primary: mat.$cyan-palette,
        tertiary: mat.$spring-green-palette,
      ),
      density: (
        scale: 0,
      ),
    )
);

:root {
  @include mat.all-component-themes($website-theme);
}

html, body { height: 100%; }
body {
  line-height: 1.6;
  white-space: pre-line;
  margin: 0;

  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
  background-color: $color-background-dark;

  // mat tab styling
  --mat-tab-header-inactive-label-text-color: white;
  --mat-tab-header-inactive-hover-label-text-color: #bbb6b6;
  --mat-tab-header-active-label-text-color: #8BC34A;
  --mat-tab-header-active-focus-label-text-color: #8BC34A;
  --mat-tab-header-active-hover-label-text-color: #8BC34A;
  .mdc-tab-indicator__content {
    display: none;
  }
  .mat-mdc-tab-link-container {
    border-bottom: none;
  }

}

// Resets for box-sizing = box-border.
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
